body {
  background: #f4f4f4;
}

.content-container {
  width: 100%;
  height:90vh;
  display: flex;
  justify-content: center;
}
.bar {
  background: #a28ad8
}
.bar-finished {
  background: #32cc93; 
}
.bar-active {
  background: #ff5b5b;
}
.settings-container{
  background: #FFF;
  display: flex;
  align-items: center !important;
  padding: 5px 10px;
}
.settings-form {
  display: flex;
}
.settings-slider {
  width: 150px !important;
  margin: 3px 15px 0px 10px !important;
  color: #32cc93 !important;
}
.settings-btn {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 700 !important;
  margin: 0px 5px !important;
  background: #32cc93 !important;
  color: #303030 !important;
  border: none !important;
  text-transform: none !important;
}
.settings-label {
  margin: 0px !important;
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 600 !important;
  color: #303030 !important;
}
.settings-btn:focus {
  box-shadow: none !important;
}
.start-btn {
  margin-right: 20px !important;
}
